:root {
    --color-main: #0dae97;
    --success-color: #13cd6b;
    --fail-color: #ef2a2a;
    --warning-color: #f8631b;
    --otro-color: #db005e;

    --xs-dimension: 300px;
    --sm-dimension: 500px;
    --md-dimension: 700px;
    --lg-dimension: 900px;
    --xl-dimension: 1200px;
}
* {
    box-sizing: border-box;
}

body {
    /* background-color: #282c34; */
    background-image: linear-gradient(to right bottom, #778df9, #3a54a2);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
}

.center {
    text-align: center;
}
